@using CreditCardsSystem.Domain.Models.Reports
@using CreditCardsSystem.Domain.Models.Request
@inherits ApplicationComponent

<div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center pt-4">
        <CustomerAvatar Avatar="/dist/images/Team/default-avatar.png" />
        <div class="AO-customerProfile--info w-80">
            <H2>@($"{subReports.TellerName}({subReports.TellerId})")</H2>
            <H3 class="profile-civilID">@subReports.ActivityName</H3>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center gp-16">
    </div>
    <Button Type="btn-territory btn-sm" ButtonType="@ButtonType.Button" Label="Back To List" OnClick="Close"></Button>
</div>
<div class="kfh-data-table p-0">
    <TelerikGrid Data="subReports.Summaries" Class="tomato" PageSize=20 Groupable="true" Pageable="true">
        <GridColumns>
            <GridColumn Field="CivilId" Groupable=true Title="Civil ID" HeaderClass="col-xl-2 text-center" OnCellRender="@((e) => e.Class = "col-xl-2 text-center")"></GridColumn>
            <GridColumn Field="CustomerName" Title="Customer Name" HeaderClass="col-xl-2  text-center" OnCellRender="@((e) => e.Class = "col-xl-2  text-center")"></GridColumn>
            <GridColumn Title="Card Number" HeaderClass="col-xl-2  text-center" OnCellRender="@((e) => e.Class = "col-xl-2  text-center")">
                <Template>
                    @{
                        var item = context as EODSubReportSummary;
                    }
                    @DisplayCardNumber(item.CardNumber)
                </Template>
            </GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<TelerikTooltip TargetSelector="#BottomTooltip" Position="TooltipPosition.Bottom" />

@code {

    [Parameter]
    public EODSubReport subReports { get; set; }

    [Parameter]
    public EventCallback CloseSubReport { get; set; }


    async Task Close()
    {
        await CloseSubReport.InvokeAsync();
    }

}    