<div class="kfh-info-prv-cont">
    <div class="row mb-3">
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
        <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div> <div class="col-md-2">
            <TelerikSkeleton Width="100px" Height="50px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
        </div>
    </div>
</div>

@*<div class="d-flex flex-column">
    <TelerikSkeleton Width="500px" Height="250px" ShapeType="@SkeletonShapeType.Text"></TelerikSkeleton>
</div>*@

@code {

}